.control {
  display: block;
  padding-left: $small-spacing*4;
  cursor: pointer;
  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  em {
    display: inline-block;
    float: right;
    color: darken($medium-gray, 15%);
  }
}

.control__indicator {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
  height: 20px;
  width: 20px;
  background: $medium-gray;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control {
  &:hover input ~ .control__indicator {
    background: #ccc;
  }
  input {
    &:focus ~ .control__indicator {
      background: #ccc;
    }
    &:checked ~ .control__indicator {
      background: #2aa1c0;
    }
  }
  &:hover input:not([disabled]):checked ~ .control__indicator {
    background: $medium-blue;
  }
  input {
    &:checked:focus ~ .control__indicator {
      background: $medium-blue;
    }
    &:disabled ~ .control__indicator {
      background: $medium-gray;
      opacity: 0.6;
      pointer-events: none;
    }
  }
}

.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
}

.control--checkbox {
  .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
  }
}

.control--radio {
  .control__indicator:after {
    left: 7px;
    top: 7px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #fff;
  }
  input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
  }
}
